body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:15px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:180px;
  top:15px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:1100px;
  height:900px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:900px;
}
#u9 {
  position:absolute;
  left:2px;
  top:442px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:19px;
  top:70px;
  width:120px;
  height:110px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:47px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:70px;
  width:103px;
  height:24px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:159px;
  top:138px;
  width:201px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:159px;
  top:169px;
  width:460px;
  height:48px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:159px;
  top:104px;
  width:176px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:272px;
  top:78px;
  width:15px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
