body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:304px;
  top:330px;
  width:226px;
  height:66px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:25px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:309px;
  top:336px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:304px;
  top:395px;
  width:226px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:466px;
  top:401px;
  width:52px;
  height:23px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:304px;
  top:213px;
  width:226px;
  height:66px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
}
#u11 {
  position:absolute;
  left:2px;
  top:25px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:309px;
  top:219px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:304px;
  top:278px;
  width:226px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:466px;
  top:284px;
  width:52px;
  height:23px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:477px;
  top:62px;
  width:23px;
  height:20px;
  opacity:0.5;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:480px;
  top:64px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:304px;
  top:97px;
  width:226px;
  height:66px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
}
#u24 {
  position:absolute;
  left:2px;
  top:25px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:309px;
  top:103px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:304px;
  top:162px;
  width:226px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:466px;
  top:168px;
  width:52px;
  height:23px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:486px;
  top:64px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:493px;
  top:64px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:480px;
  top:70px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:486px;
  top:70px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:493px;
  top:70px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:480px;
  top:76px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:486px;
  top:76px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:493px;
  top:76px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:516px;
  top:62px;
  width:23px;
  height:20px;
  opacity:0.5;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:518px;
  top:65px;
  width:19px;
  height:4px;
  opacity:0.5;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:518px;
  top:71px;
  width:19px;
  height:3px;
  opacity:0.5;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:3px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:518px;
  top:76px;
  width:19px;
  height:3px;
  opacity:0.5;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:3px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:378px;
  top:102px;
  width:65px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:378px;
  top:120px;
  width:98px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:322px;
  top:60px;
  width:104px;
  height:24px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:934px;
  top:64px;
  width:23px;
  height:20px;
  opacity:0.5;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:937px;
  top:66px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:943px;
  top:66px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:950px;
  top:66px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:937px;
  top:72px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:943px;
  top:72px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:950px;
  top:72px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:937px;
  top:78px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:943px;
  top:78px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:950px;
  top:78px;
  width:4px;
  height:4px;
  opacity:0.5;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:973px;
  top:64px;
  width:23px;
  height:20px;
  opacity:0.5;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:975px;
  top:67px;
  width:19px;
  height:4px;
  opacity:0.5;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:975px;
  top:73px;
  width:19px;
  height:3px;
  opacity:0.5;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:3px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:975px;
  top:78px;
  width:19px;
  height:3px;
  opacity:0.5;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:3px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:783px;
  top:60px;
  width:79px;
  height:24px;
  font-size:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:378px;
  top:218px;
  width:79px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:378px;
  top:236px;
  width:57px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:378px;
  top:336px;
  width:54px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:378px;
  top:354px;
  width:93px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:378px;
  top:139px;
  width:66px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:378px;
  top:255px;
  width:70px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:378px;
  top:370px;
  width:66px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:437px;
  top:336px;
  width:15px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:460px;
  top:218px;
  width:15px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u108 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:446px;
  top:102px;
  width:15px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u113 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:383px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:383px;
}
#u117 {
  position:absolute;
  left:2px;
  top:184px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1094px;
  top:50px;
  width:10px;
  height:383px;
}
#u118_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u118_end {
  position:absolute;
  left:-5px;
  top:366px;
  width:20px;
  height:18px;
}
#u118_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:383px;
}
#u119 {
  position:absolute;
  left:644px;
  top:50px;
  width:10px;
  height:383px;
}
#u119_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u119_end {
  position:absolute;
  left:-5px;
  top:366px;
  width:20px;
  height:18px;
}
#u119_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:383px;
}
#u120 {
  position:absolute;
  left:10px;
  top:102px;
  width:180px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:770px;
  top:111px;
  width:226px;
  height:66px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
}
#u123 {
  position:absolute;
  left:2px;
  top:25px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:770px;
  top:176px;
  width:226px;
  height:35px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:932px;
  top:182px;
  width:52px;
  height:23px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:775px;
  top:117px;
  width:50px;
  height:50px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u129 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:835px;
  top:117px;
  width:70px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:906px;
  top:120px;
  width:15px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:70px;
  top:15px;
  width:100px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u136 {
  position:absolute;
  left:180px;
  top:15px;
  width:100px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
