body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:900px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:900px;
}
#u2 {
  position:absolute;
  left:2px;
  top:442px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:0px;
  width:749px;
  height:900px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:900px;
}
#u6 {
  position:absolute;
  left:2px;
  top:442px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:20px;
  width:120px;
  height:110px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
}
#u8 {
  position:absolute;
  left:2px;
  top:47px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:210px;
  top:20px;
  width:119px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:210px;
  top:54px;
  width:369px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
